
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 60px;

}
body{
  text-align: center;
}
.button{
  width:200px;
  height: 200px;
  align-items: center;
}
.image {
  background-image:url(mem1.jpg);
}
