@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');
@import url('https://fonts.googleapis.com/css?family=Fauna+One');
.tabies {
  font-size: 25px;
   border-spacing: 35px;
   font-family: 'Fauna One', serif;
  float: right;
  color: white;
  position: relative;
      top: 40px;
      bottom: 40px;
      right: 40px;
      left: 10px;

}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: white;
}

a:active {
    color: yellow;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom: 7px solid green;
font-family: 'Cinzel', serif;
  padding-left: 200px;
}
body {
  background-image: url(fall.jpg);
}
.volunteer {
  font-size: 30px;
  float: right;
       padding-right: 50px;
  font-family: 'Sorts Mill Goudy', serif;
}
.volunteertable{
  float: left;
     margin: 5px 50px 10px 10px;
  color: white;
    border-width: 4px;
  border-style: solid;
  border-color: rgba(193, 200, 222, 1);
  background-color: rgba(14, 30, 25, 0.6);
  border-radius: 7px;
    /* padding-top: 10px; */
     padding-right: 30px;
     padding-bottom: 20px;
     padding-left: 30px;
    font-family: 'Sorts Mill Goudy', serif;
    background-image: url()

}
.about {
  color: white;
  font-size: 30px;
  float: left;
         font-family: 'Gentium Basic', serif;
         border-width: 4px;
       border-style: solid;
       border-color: green;
       background-color: green;
       border-radius: 3px;
      margin-top: 60px;
}

.aboutus {
  color: black;
  font-size: 20px;
  float: left;
       padding-right: 170px;
       padding-left: 20px;
       padding-top: 30px;
         font-family: 'Gentium Basic', serif;
         padding-bottom: 20px;
       border-style: solid;
       border-color: white;
       background-color: white;
        margin: 0 0 130px 0;

}
.intro  {
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-left: 130px;
  margin-right: 130px;
    font-family: 'Old Standard TT', serif;
    font-size: 30px;
    background-color: rgba(255, 255, 255,.6);
  border: 30px solid white;
  border-radius: 10px;
  border-color: rgba(193, 200, 222, 0);
    padding-top: 50px;
    padding-bottom: 50px;
}
/* the slide show parts below */
{box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  float: right;
  height: auto;
  position: relative;
  padding-right: 1px;
  padding-top: 10px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}

/* Caption text */
.text {
  color: black;
  font-size: 18px;
  top: 210px;
  position: absolute;
  padding: 1px 1px 5px 5px;
  bottom: 1px;
  width: 100%;
  =font-family: 'Oleo Script', cursive;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 28px 12px;
  position: absolute;
  top: 0;
  text-align: center;
}

/* The dots/bullets/indicators */
/*.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.volunteerdiv {
  width: 100%;
}
.backslide {
  background-color: white;
  border-color: white;
  border-width: 13px;
  border-style: solid;
}
.move{
  padding-top: 10px;
}
